.nav{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0
}


.divImg{
    height: 10vh;
    grid-column: 2/5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1{
    color: black;
}

.h1White{
    color: white;
}

.divLink{
    grid-column: 6/12;
    display: flex;
    justify-content: flex-end;
}

.link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-left: 80px;
}

.linkWhite{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding-left: 80px;
}


@media screen and (max-width: 576px) {
    .link{
        font-size: 20px;
        padding-left: 49px;
    }
}


