.nav{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.divImg{
    height: 10vh;
    grid-column: 2/3;
}

.img{
    object-fit: fill;
    height: 100%;
}

.divLink{
    grid-column: 10/12;
    display: flex;
    justify-content: space-between;
}

.link{
    text-decoration: none;
    color: black;
    font-size: 20px;
}