.formDiv{
    background-image: url("../../images/paisaje2.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.form{
    width: 700px;
    height: 80vh;
    border: 2px solid rgb(50,50,50);
    border-radius: 20px;
    background-color: rgba(50, 50, 50, 0.493);
    font-size: 25px;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    justify-content: center;
    align-items: center;
    color: #fff;
}

.mal{
    border: 2px solid #B52217;
    background-color: #FFE3E3;
    color: #B52217;
}

.bien{
    border: 2px solid #006B4F;
    background-color: #DDF9ED;
    color: #006B4F;
}
.divBottom{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.h1{
    font-size: 50px;
}

.divh1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;

}

.divName{
    grid-row: 2/3;
    min-height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.divDificultad{
    grid-row: 3/4;
    min-height: 107px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.divDuracion{
    min-height: 107px;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.divTemporada{
    min-height: 107px;
    grid-row: 5/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.divPaises{
    min-height: 107px;
    grid-row: 6/7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 600px;
}

.divPaisesSeleccionados{
    grid-row: 7/8;
    display: flex;
    flex-direction: column;
    width: 600px;
}


.label{
    font-weight: 700;
    padding: 10px;
    font-size: 20px;
    min-width: 40px;
    display: flex;
    justify-content: flex-start;
}

.input{
    height: 50px;
    width: 426px;
    margin-right: 20px;
    text-decoration: none;
    outline: 0px;
    border-radius: 10px;
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
}

.error{
    color: rgb(255, 0, 0);
    margin-top: 0px;
    font-size: 15px;
    font-weight: normal;
    width: 320px;
    height: 36px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.divError{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.select{
    box-sizing: content-box;
    border-radius: 10px;
    font-size: 24px;
    height: 50px;
    width: 450px;
    padding: 2px 3px;
    margin-right: 20px;
}

.selectPais{
    box-sizing: content-box;
    border-radius: 10px;
    font-size: 24px;
    height: 50px;
    width: 400px;
    padding: 2px 3px;
}

.btnAñadir{
    margin-right: 20px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #DDF9ED;
    color: #006B4F;
    border: 2px solid #006B4F;

}

.divPaisSeleccionado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 20px;
    margin: 10px;
}

.btnX{
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 100%;
    color: #B52217;
    background-color: #FFE3E3;
    border: 1px solid #B52217;
}

.divPaisesButon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.divPaisSelec{
    width: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.divBtn{
    grid-row: 7/9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonEnviar{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
    color: #B52217;
    background-color: #FFE3E3;
    border: 1px solid #B52217;
    cursor: pointer;
}

@media screen and (max-width: 800px) { 
    .form{
        width: 500px;
        height: 60vh;
    }
    .h1{
        font-size: 30px;
    }
    .input{
        height: 40px;
        width: 300px;
        margin-right: 15px;
        text-decoration: none;
        font-size: 18px;
    }

    .error{
        margin-top: 0px;
        font-size: 12px;
        width: 320px;
        height: 20px;
        padding-top: 5px;        
    }
    .select{
        box-sizing: content-box;
        font-size: 18px;
        height: 40px;
        width: 319px;
    }
    .selectPais{
        font-size: 18px;
        height: 40px;
        width: 269px;
        padding: 2px 3px;
    }
    .divPaisSelec{
        width: 370px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .buttonEnviar{
        height: 35px;
        width: 70px;
        font-size: 15px;

    }
    .divName{
        min-height: 85px;
    }
    
    .divDificultad{
        min-height: 85px;
    }
    
    .divDuracion{
        min-height: 85px;
    }
    
    .divTemporada{
        min-height: 85px;
    }
    
    .divPaises{
        min-height: 85px;
    }
    .pPais{
        font-size: 20px;
    }
    .btnX{
        width: 20px;
        height: 20px;
        margin: 5px;
    }
}