.nav-paginado{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    color: red;
}

.ul-paginado{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
}

.li-paginado{
    text-decoration: none;
    list-style: none;
}